* { border: none; box-sizing: border-box; margin: 0; padding: 0; }

:root, .dark-mode-off {
  --background: #f2f2f2;
  --background-between: rgb(220,220,220);
  --background-smoke: rgba( 255, 255, 255, .95);
  --background-ui: rgb(235,235,235);
  --color: #222222;
  --color-dimmed: #333333;
	--mid: rgb(210,210,210);;
  --shadow: rgb( 0, 0, 0, 0.15);
  --hover: rgba( 215, 245, 245, 1 );
  --active: rgba( 215, 245, 245, .5 );
  --accent: rgba( 215, 245, 245, 1 );
  --select-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000000'><polygon points='0,0 100,0 50,50'/></svg>");
}

@media ( prefers-color-scheme: dark ) {
	:root {
    --background: rgb(51,51,51);
    --background-between: rgb(0,0,0);
    --background-smoke: rgba(45, 45, 45, 0.95);
    --background-ui: rgb(25,25,25);
    --color: #f2f2f2;
    --color-dimmed: #aaaaaa;
    --mid: #444;
    --shadow: rgb( 0, 0, 0, 0.15);
    --hover: rgba( 15, 45, 45 );
    --active: rgba( 25, 55, 55, 1 );
    --accent: rgba( 215, 245, 245, 1 );
    --select-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23ffffff'><polygon points='0,0 100,0 50,50'/></svg>");
	}
}

.dark-mode-on {
  --background: rgb(51,51,51);
  --background-between: rgb(0,0,0);
  --background-smoke: rgba(45, 45, 45, 0.95);
  --background-ui: rgb(25,25,25);
  --color: #f2f2f2;
  --color-dimmed: #aaaaaa;
  --mid: #444;
  --shadow: rgb( 0, 0, 0, 0.15);
  --hover: rgba( 15, 45, 45 );
  --active: rgba( 25, 55, 55, 1 );
  --accent: rgba( 215, 245, 245, 1 );
  --select-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23ffffff'><polygon points='0,0 100,0 50,50'/></svg>");
}

html {
  font-size: 140%;
}

.root {
  background-image: url(/syncbible.svg);
}

.root,
body {
  background-color: var(--background);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center center;
  height: 100vh;
	color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

#content {
  position: relative;
}

.root {
	position: relative;
}
.root input[type=submit]:hover,
.root button:not(.no-hover):hover {
	background: var(--hover);
}

.root .added,
.added {
  color: var(--color-dimmed);
  font-style: italic;
}

.full-page {
  background: var(--background);
  padding-top: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  padding: 1em;
  text-align: center;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .full-page .content {
	font-weight: 300;
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 100%;
	max-width: 320px; }
.full-page .content p {
  text-align: left;
}
	.full-page .content .logo {
	  overflow: auto;
	  position: relative;
	  text-align: center; }
	  .full-page .content .logo h1 {
		font-size: 2.4rem;
		font-weight: 100; }
	.full-page .content .features {
	  margin-top: 1em; }
	  .full-page .content .features ul {
		list-style: disc;
		margin: 0 0 1em 1em; }
	  .full-page .content .features p {
		margin-bottom: 1rem; }
	.full-page .content .button {
	  margin: 1em 0;
	  text-align: center; }
	  .full-page .content .button .installation-info {
		margin-top: 1rem; }
	  .full-page .content .button button {
		background: #333;
		cursor: pointer;
		padding: .5rem 1rem; }
    input[disabled] {
      background: #eee;
      color: #ccc;
    }
		.full-page .content .button button[disabled] {
		  background: #ccc; }
.full-page .loading {
  background: darkgray;
  color: #fff;
  line-height: 2em;
  margin-top: 1em;
  text-indent: .5em;
}

.full-page .loading-bar {
  background: gray;
  white-space: nowrap;
  width: 5%;
}

#errors {
  display: none; /* keep this hidden before we load */
}

.errors {
  position: fixed;
  top: 1em;
  left: 1em;
  right: 1em;
  text-align: center;
}

.dvnNm {
  text-transform: uppercase;
}

#notification {
  background: #666;
  color: #eee;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2em;
  text-align: center;
  z-index: 999;
}

#notification a {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

.single {
  margin: 0 -3px;
  padding: 0 3px;
}

.single:hover {
  cursor: pointer;
}

.search-select {
  cursor: crosshair;
}
.search-select .single:hover {
  cursor: crosshair !important;
}

label.has-placeholder {
	display: none;
}

a.word-block-details__find-all-uses {
	text-decoration: underline !important;
}

.expanded-search-results-verse {
	display: none;
  font-size: 12px;
}

.compare-mode .expanded-search-results-verse {
	border-bottom: 1px solid var(--color);
	margin-bottom: 1em;
	padding-bottom: 1em;
  font-size: inherit;
}

.expanded-search-results .expanded-search-results-verse {
  display: block;
  margin-bottom: 1em;
}