@import '../colors.scss';

.word-block-details {
	position: relative;
}

.word-block-help {
	padding: .5em;
}

.fake-link {
	cursor: pointer;
	text-decoration: underline;
}

.visible {
	height: auto;
}

.hidden {
	height: 0;
	overflow: hidden;
}

.strongs-number-title {
	display: inline-block;
	margin-right: 15px;
}

.word-details {
	display: flex;
	flex-wrap: wrap;
}

.word-list-header {
	a svg {
		fill: #fff;
	}
}

a.moreDetails {
	text-decoration: underline;
}

.tabs {
	background: var(--background-between);
	display: flex;
	margin: -0.7em;
	margin-bottom: .7em;
	justify-content: space-between;

	a {
		flex-basis: 33%;
		padding: 0.3em 0;
		text-align: center;

		&.active {
			background: var(--background-ui);
		}

		&:hover {
			background: var(--background);
		}
	}

	svg {
		fill: var(--color);
	}
}

.select {
	font-size: .8em;
	height: 40px;
	margin-bottom: 1em;
}

.word-stats {
	fieldset {
		display: flex;
		flex-wrap: nowrap;
	}
	label {
		font-size: .7em;
	}
}

.word-stats-result {
	min-height: 1.6em;
	position: relative;
	font-size: .8em;
}

.word-stats-result-text {
	position: relative;
}

.wordStatsResultCount {
	display: inline-block;
	position: absolute;
	height: 1.2em;
	top: 0;
	right: 0;
}