@import '../colors.scss';

.word-block-help {
	padding: .5em;
}

.fake-link {
	cursor: pointer;
	text-decoration: underline;
}

.visible {
	height: auto;
}

.hidden {
	height: 0;
	overflow: hidden;
}

.strongs-number-title {
	display: inline-block;
	margin-right: 15px;
}

.word-details {
	display: flex;
	flex-wrap: wrap;
}

.word-list-header {
	a svg {
		fill: #fff;
	}
}
