@import '../colors.scss';
@import '../dimensions.scss';

.trays {
	display: flex;
	position: fixed;
	z-index: 19;
}

.trayList {
	background: var(--background-ui);
	overflow: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: calc( -320px - $dock-height );
	transition: left 200ms;
}

.sidebarOpen {
	left: $dock-height;
}

.tray {
	width: calc(320px - 1px - $dock-height);
	z-index: 10;
}

.chapter-tray-padding {
	padding: 0.5em;
}

.chapter-tray {
	display: flex;
	font-size: 14px;
	line-height: 30px;

	* {
		margin-right: 5px;
	}

	span {
		width: 80px;
	}

	button {
		width: 100%;
	}
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.trayFilter {
	box-sizing: border-box;
	display: block;
	cursor: pointer;
	margin: 0;
	padding: 14px 0;
	text-align: center;

	&:hover {
		background: var(--hover);

		svg {
			fill: var(--color);
		}
	}

	svg {
		fill: var(--color-dimmed);
	}
}

.active {
	background: var(--background-ui);

	svg {
		fill: var(--color);
	}
}

.help-panel {
	padding: .5em;
	font-size: .7em;

	h3 {
		margin-top: 1em;
	}

	p {
		margin-bottom: 1em;
	}
}

.settings-li {
	margin-bottom: 1em;

	label {
		display: block;
	}
}

.limit {
	display: inline;
	height: 30px;
	margin-left: 5px;
	width: 80px;
}

.scrolling-block {
	max-height: 100px;
	overflow: auto;
}

.sidebar-controls {
	background: var(--background-ui);
	box-shadow: 0 0 10px 5px var(--shadow);
	display: flex;
		align-items: center;
		justify-content: space-between;
	height: $dock-height;
	position: sticky;
	top: 0;
	left: 0;
	padding-left: 10px;
	width: calc( 320px - $dock-height );
	z-index: 19;

	svg {
		fill: var(--color);
	}

	select, button {
		border-bottom: none;
		border-top: none;
	}
}

.sidebar-icon {
	padding: 0 5px;
}

.sidebarControlsInner {
	display: flex;
	align-items: center;
}

.sidebar-controls-right-outer {
	display: flex;
}
