@import './colors.scss';
@import './dimensions.scss';

.root {
	hyphens: manual;
}

.root a,
a {
	color: var(--color);
	cursor: pointer;

	fill: var(--color);
}

// Reset stuff
input, select, button {
	background: var(--background-ui);
	box-sizing: border-box;
	color: var(--color);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	height: $dock-height;
	padding: 0;
}

select, button {
	background-color: var(--background-ui);
	border-bottom: none;
	border-top: none;
  }

button svg {
	fill: var(--color);

	&:hover {
		fill: var(--color);
	}
}

select {
	text-indent: .3em;
}
input {
	text-indent: .3em;
	width: 100%;
}

input[type=checkbox] {
box-shadow: none; }

input[type=reset] {
	background: none;
	border: none;
	color: var(--color-dimmed);
	font-size: 1em;
	height: auto;
	line-height: 2;
}

/* Removes the default <select> styling */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/* Positions background arrow image */
	background-color: var(--background-ui);
	background-image: var(--select-svg);
	background-size: 12px;
	background-position: calc(100% - 5px) center;
	background-repeat: no-repeat;

	padding-right: 23px;
}

optgroup {
	font-style: normal;
	font-weight: 500;
}

input, button, input[type=button], input[type=submit] {
	background: var(--background-ui);
	border: 1px solid var(--mid);
	box-shadow: none;
	color: var(--color);
	font-weight: 300;
}

button, input[type=button], input[type=submit] {
	background: var(--color);
	color: var(--background-ui);
}

form input[type=checkbox] {
	height: 20px;
	width: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	letter-spacing: .02em;
}

.sidebarButton {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
}
