@import '../dimensions.scss';

.footer {
	background: var(--background-between);
	height: 100vh;
	overflow-y: auto;
	z-index: 20;

	.logoOuter {
		perspective: 1000px;
	}

	.isCompareMode .logoInner {
		transform: rotateY(180deg);
	}

	.logoInner {
		position: relative;
		transition: transform 400ms;
		transform-style: preserve-3d;
	}

	.logoFlipped,
	.logo {
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
	}

	.logoFlipped {
		position: absolute;
		top: 0;
		left: 0;
		transform: rotateY(180deg);
	}

	.logo {
		.sync-button {
			background: var(--background-between);
		}

		svg {
			fill: var(--color);
		}
	}

	.logoFlipped {
		.sync-button {
			background: var(--color);
		}

		svg {
			fill: var(--background-between);
			transform: rotateY(180deg);
		}
	}

	.sync-button {
		border: none;
		cursor: pointer;
		padding: 5px;
		width: $dock-height;
	}

}
