@import '../dimensions';

.button {
	border-left: none;
	border-right: none;
	display: inline-block;
	width: $dock-height;
}

.clear {
	background: var(--background-ui);
	border: none;
	cursor: pointer;
	width: $dock-height;
}
