@import '../dimensions';

.button {
	border-left: none;
	border-right: none;
	display: inline-block;
	width: $dock-height;
}

.clear {
	border-left: none;
	border-right: none;
	cursor: pointer;
}

.clear:hover {
	background: var(--color);
	svg {
		fill: var(--hover);
	}
}
