@import '../_colors.scss';

.search {
	padding: 0.5rem;
	width: 100%;

	form {
		max-width: 800px;
		margin: 0 auto;
	}

	fieldset {
		margin: 5px;
		position: relative;
	}

	select {
		font-size: 1em;
		height: 1.8em;
	}
}

.picker-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.remove {
	cursor: pointer;
	padding: 8px;
	position: absolute;
	right: 0;
	top: 0;
}

.hidden {
	height: 0;
	overflow: hidden;
}

.open {
	height: auto;
}

.no-results {
	padding: .5em;
}

.active-reference {
	background: var(--active);
	a {
		color: var(--color);
	}
}

.advanced {
	cursor: pointer;
	text-align: right;
	a {
		color: #aaa;
	}
}

.verse {
	display: none;
}

.smallSidebar {
	font-size: 12px;
}

.search-link {
	cursor: pointer;
}

.compareMode {
	border-bottom: 1px solid var(--color);
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.verse-expanded {
	display: block;
}

.has-picker {
	padding-right: 2em;
}

.clusivity {
	font-size: 15px;
}
