@import '../dimensions.scss';
@import '../colors.scss';

.sidebar-select {
	height: $dock-height;
	max-width: 100%;
	text-indent: 5px;

	font-family: 'Courier New', Courier, monospace;

	optgroup {
		color: var(--color-dimmed);
	}

	option {
		color: var(--color);
	}

	@media ( min-width: 599px ) {
		font-size: 1.2em;
	}

	&.small {
		max-width: 90px;
	}
}
