.daily-readings {
	padding: .4rem;
	ol {
		line-height: 1.4em;
		margin-top: 1rem;
		padding-left: 1.1rem;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.day {
		margin-left: .4rem;
		width: 90px;
	}

	select {
		font-size: 1em;
	}
}
